h1, h2, h3, h4, h5, strike {
    font-family: 'Baloo Tamma 2', sans-serif;

}
p, span {
    font-family: 'Montserrat', sans-serif;
    margin-left: 2rem;
    margin-right: 2rem;
}

.home {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: #FCFCFC;
    color: black;
    display: table;
}

.home__mainBox{
    width: 80%;
    float:left;
    padding-top: 150px;
    padding-bottom: 150px;
}

.home__rightBox {
    z-index: 10;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 250px;
    display: table-cell;
    width:100px;
    float:right;
    border-radius: 2rem 0rem 0rem 2rem;
    background: #FE852A;
    color: white;
}

.home__link {
    text-decoration: none;
    color: white;
}
