@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
.icon {
    font-family: 'Material Icons', serif;
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}
/* GENERAL */
* {
    box-sizing: border-box;
}
sched__body {
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
    position: relative;
}
schedule__header {
    display: block;
    width: 100%;
    padding: 1.75em 0;
    border-bottom: 1px solid lightgray;
    background: white;
}


/* GRID */
.sched__row {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    font-size: larger;
}
.row-middle {
    align-items: center;
}
.sched__colHead {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
}

.sched__col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    border-bottom: 2px solid lightgray;
    padding-top: 1rem;
    font-family: "Baloo Tamma 2", sans-serif;
}

.sched__button {
    margin-top: 1rem;
    margin-left:50px;
    margin-right:50px;
}

.bold {
    font-weight: bold;
}

/* calendar__month */
.calendar__month {
    display: block;
    position: relative;
    width: 90%;
    background: white;
    border: 1px solid lightgray;
    height: auto;
    margin:0 auto;
}
.calendar__month .schedule__header {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 115%;
    padding: 1.5em 0;
    border-bottom: 1px solid lightgray;
}
.calendar__month .schedule__header .icon {
    cursor: pointer;
    transition: .15s ease-out;
}

.calendar__month .schedule__header .icon:first-of-type {
    margin-left: 1em;
}
.calendar__month .schedule__header .icon:last-of-type {
    margin-right: 1em;
}
.calendar__month .sched__days {
    text-transform: uppercase;
    font-weight: 400;
    color: gray;
    font-size: 70%;
    padding: .75em 0;
    border-bottom: 1px solid lightgray;
}
.calendar__month .sched__body .cell {
    position: relative;
    height: 5em;
    border-right: 1px solid lightgray;
    overflow: hidden;
    background: white;
    transition: 0.25s ease-out;
}
.calendar__month .sched__body .row {
    border-bottom: 1px solid lightgray;
}
.calendar__month .sched__body .row:last-child {
    border-bottom: none;
}
.calendar__month .sched__body .cell:last-child {
    border-right: none;
}
.calendar__month .sched__body .coltime {
    color: #FE852A;
    font-weight:800;
    pointer-events: none;
}
.calendar__month .sched__body .cell .bg {
    font-weight: 700;
    line-height: 1;
    color: #FE852A;
    opacity: 0;
    font-size: 5em;
    position: absolute;
    right: -.05em;
    transition: .25s ease-out;
    letter-spacing: -.07em;
}

.calendar__month .sched__body .sched__col {
    flex-grow: 0;
    flex-basis: calc(100%/5);
    width: calc(100%/5);
}

.text {
    font-family: 'Baloo Tamma 2', sans-serif;
}
